[Unit]
Description=Do1e Website
After=network.target

[Service]
Type=idle
User=root
Restart=on-failure
RestartSec=60s
ExecStart=python /root/webserver/webserver.py 80 /root/webserver/site

[Install]
WantedBy=multi-user.target

